In [1]:
fname = 'kaybee'
print(fname)

kaybee

In [3]:
lname = 'sadiku'

In [4]:
print(lname)

sadiku

In [5]:
age = 123
age = 20
print(age)

20

In [6]:
sName= 'james'
statusType = 'student'
numLunchBag = 1
numapple = 2
numOrange = 3
numEggs = 1

In [7]:
print(numOrange)
print(statusType)

3
student

In [10]:
Sname = 'Agatha'
NumStudent = 23
NumSubject = 5
oldestStu = 13
sAge = oldestStu + 10
sMood = 'happy'
Status = 'student'

In [11]:
Sname

'Agatha'

In [12]:
sAge

23

In [15]:
print("Hello World")

Hello World

In [16]:
x,y,z = "Oragnge", "Apple", "Fruit"
print(x)
print(y)
print(z)

Oragnge
Apple
Fruit

In [17]:
p=k=o="Banana"
print(p)

Banana

In [18]:
x = 2.8
x = int(x)
x

2

In [19]:
x = "banana"
for x in "banana":
    print(x)

b
a
n
a
n
a

In [20]:
len(x)

1

In [21]:
x = "banana"
len(x)

6

In [25]:
print(x[len(x) - 1])

a

In [26]:
print(x.upper())

BANANA

In [28]:
quantity = 4
price = 100
text = "I need {} pieces for {} usd" #this is text formating in action. using placeholder to add values to strings
print(text.format(quantity, price))

I need 4 pieces for 100 usd

In [29]:
x = "lotto"
print(x.capitalize())

Lotto

In [30]:
x = "hello"
print(bool(x))

True

In [61]:
class myClass():
    def__len__(self):
        return 0
    myObject = myClass()
    print(bool(myObject))

SyntaxError: invalid syntax (Temp/ipykernel_9280/368806105.py, line 2)

In [35]:
def myFunction():
    return True
if myFunction():
    print("Yes")
else:
    print("No")

Yes

In [36]:
x = 200
print (isinstance(x, int))

True

In [37]:
y = 12.7
print (isinstance(y, int))

False

In [39]:
listOne = ['table', 'chair', 'bed']
listTwo = ['cooker', 'knife', 'spoon']
listOne.extend(listTwo)
print(listOne)

['table', 'chair', 'bed', 'cooker', 'knife', 'spoon']

In [40]:
for y in listOne:
    print(y)

table
chair
bed
cooker
knife
spoon

In [42]:
for k in range (len(listOne)):
    print(k)

0
1
2
3
4
5

In [44]:
i = 0
while i < len(listOne):
    print (listOne[i])
    i = i + 1

table
chair
bed
cooker
knife
spoon

In [46]:
newList = [x for x in listOne if 'a' in x]
print(newList)

['table', 'chair']

In [48]:
newList = [x for x in listOne if x != 'knife'] #the condition return x if it us not knife
print(newList)

['table', 'chair', 'bed', 'cooker', 'spoon']

In [49]:
num = [k for k in range(10)]
print (num)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
num = [k for k in range(10) if k < 5]
print (num)

[0, 1, 2, 3, 4]

In [53]:
newList = [x if x != 'knife' else 'soup' for x in listOne] #the condition return x if is not knife and soup if it is knife
print(newList)

['table', 'chair', 'bed', 'cooker', 'soup', 'spoon']

In [55]:
print(newList.sort())

None

In [56]:
newList.sort() #list is sorted and in ascending order
print(newList)

['bed', 'chair', 'cooker', 'soup', 'spoon', 'table']

In [57]:
newList.sort(reverse = True) #list is sorted and in desendding order
print(newList)

['table', 'spoon', 'soup', 'cooker', 'chair', 'bed']

In [58]:
myList = newList.copy() # 1st method of copying list
print(myList)

['table', 'spoon', 'soup', 'cooker', 'chair', 'bed']

In [60]:
myList1 = list(myList) # 2nd method of copying list
print(myList1)

['table', 'spoon', 'soup', 'cooker', 'chair', 'bed']

In [62]:
print(type(myList))

<class 'list'>

In [63]:
myList[2] = "pot" #to change list items using list index
print(myList)

['table', 'spoon', 'pot', 'cooker', 'chair', 'bed']

In [64]:
myList[2:5] = ["pot", "cylinder"] #to change list items using list index range
print(myList)

['table', 'spoon', 'pot', 'cylinder', 'bed']

In [65]:
myList.insert(3, "cooker") #t insert new item into the list
print(myList)

['table', 'spoon', 'pot', 'cooker', 'cylinder', 'bed']

In [67]:
myList.insert(5, "Mat")
myList.sort()
print(myList)

['Mat', 'Mat', 'bed', 'cooker', 'cylinder', 'pot', 'spoon', 'table']

In [69]:
myList.pop(1)
print(myList)

['Mat', 'bed', 'cooker', 'cylinder', 'pot', 'spoon', 'table']

In [75]:
fruits = ("oranges", "Apple", "Banana") # This is an array referred to as turple in python.
(green,red, blue) = fruits # Turples can't be changed, edited nor updated.
print(green) # One way of printing turple list.
print(red)
print(blue)

oranges
Apple
Banana

In [78]:
myList = ('Mat', 'bed', 'cooker', 'cylinder')
(one, two, *three) = myList # note that figure can't be used. i.e 1, 2, 3 can't be used in the reference turple list.
print(one)
print(three) # notice how the asteric works here

Mat
['cooker', 'cylinder']

In [80]:
for y in myList:
    print(y) # Another way of printing turple list

Mat
bed
cooker
cylinder

In [84]:
u = range(1, 20, 2)
for x in u:
    print(x)

1
3
5
7
9
11
13
15
17
19

In [87]:
mySet = {'first', 'second', 'third', 'fourth'} # This ia another type of array. Note that list is identified with [], turple
print(mySet) # with () and set is with {}. Set items are unordered, unindexed and unchangable.

{'third', 'first', 'fourth', 'second'}

In [91]:
set1 = {'table', 'chair', 'desk'}
set2 = {'table', 'book', 'pen'}
set3 = set1.intersection(set2) # returns new set with item that exist in both set 1 and 2
set1.intersection_update(set2) # keep only item that exist in both set 1 and 2
print(set3)
print(set1)

{'table'}
{'table'}

In [92]:
set1 = {'table', 'chair', 'desk'}
set2 = {'table', 'book', 'pen'}
set4 = set1.symmetric_difference(set2) #does the opposite of set3
set1.symmetric_difference_update(set2) #does the opposite of intersection
print(set4)
print(set1)

{'desk', 'chair', 'book', 'pen'}
{'desk', 'chair', 'book', 'pen'}

In [95]:
list1 = ["a", "b", "c"]
list2 = [1, 2]
list3 = list1 + list2
for x in list2:
    list1.append(x)
print (list1)
print(list3)
list2.extend(list1)
print(list2)

['a', 'b', 'c', 1, 2]
['a', 'b', 'c', 1, 2]
[1, 2, 'a', 'b', 'c', 1, 2]

In [96]:
myTurple = ("apple", "orange", "banana")
print(type(myTurple))

<class 'tuple'>

In [97]:
myTurple2 = (1, ) # a turple with just an element must be followed with a comma for python to understand that it is a turple
print(type(myTurple2))

<class 'tuple'>

In [98]:
for y in myTurple: # Accessing turple elements
    print(y)

apple
orange
banana

In [99]:
print(myTurple2[0]) # Accessing turple elements using indexing

1

In [1]:
thisSet = {'one', 'apple', 'orange', 'sweet'}
x = thisSet.pop()
print(x, thisSet) # because set are unordered, the item that will be pop cannot be predicted. it is best to use
#discard in place of pop or remove because remove will also through an error if item cannot be found.

orange {'apple', 'sweet', 'one'}

In [2]:
thisDic = {
    'product' : 'Toyota',
    'model' : 'Venza',
    'year' : 2022
}
print(thisDic)

{'product': 'Toyota', 'model': 'Venza', 'year': 2022}

In [7]:
thisDic['model'] = 'Highlander'
print(thisDic)
thisDic['color'] = 'Black'
x = thisDic.keys() #list the keys in the dictionary
y = thisDic.values() #list the values associated to each key in the dictionary
z = thisDic.items() # list the dictionary items in key:value pair
print(x)
print(y)
print(z)

{'product': 'Toyota', 'model': 'Highlander', 'year': 2022, 'color': 'Black'}
dict_keys(['product', 'model', 'year', 'color'])
dict_values(['Toyota', 'Highlander', 2022, 'Black'])
dict_items([('product', 'Toyota'), ('model', 'Highlander'), ('year', 2022), ('color', 'Black')])

In [8]:
if 'year' in thisDic: # to check if a key exist in dictionary.
    print('year exist')

year exist

In [11]:
for a in thisDic:
    print(thisDic[a])

Toyota
Highlander
2022
Black

In [12]:
userName = input('Enter Username') #Method of obtaining input from users 
print('Your Username is ' + userName)

Enter Usernamelaykay4me
Your Username is laykay4me

In [13]:
a = 10
b = 5
if a < b:
    print('a is less than b')
elif a == b:
    print('a is equal to b')
else:
    print('a is greater than b')

a is greater than b

In [14]:
print('A') if a < b else print('==') if a == b else print('B') # This is known as ternary operator or conditional expression.

B

In [16]:
def myFunc(): # A function is decleared in python using the "Def" keyword
    print('Hello World')
myFunc()

Hello World

In [18]:
def myFunc1(name):  #passing argument to function
    print('Hello! ' + name)
myFunc1('kaybee')

Hello! kaybee

In [19]:
def myKids(*kids):  # asteric(*) is used before parameter when the number of variable to be used is unknown. 
    print('The second kid is ' + kids[1])
myKids('kaybee', 'kb', 'leke')

# ** double asteric will allow the passing of a dictionary to a function and can be accessed accordingly.

The second kid is kb

In [20]:
def myList(food): #Passing a list to a function. note, it doesn't change the content.
    for x in food:
        print(x)
fruit = ['Apple', 'Orange', 'Banana']
myList(fruit)

Apple
Orange
Banana

In [21]:
def recursionExample(k):
    if (k < 6):
        result = k + recursionExample(k-1)
        print(result)
    else:
        result = 0
    return result
print("\n\n recursion example result")
recursionExample(6)

 recursion example result

0

In [24]:
x = lambda a:a+10
print(x(6))

16

In [25]:
y = lambda a, b: a * b
print(y(3,4))

12

In [27]:
def myfunc(a):
    return lambda a: a * n

myfunc(3)

In [32]:
class Person:
    def___init___(self,name,age):
        self.name = name
        self.age = age
        
    def printFname(fname):
        print('My name is ' + fname.name)
        
p1 = Person(kabir, 34)
p1.printFname()

SyntaxError: invalid syntax (Temp/ipykernel_196/2750819274.py, line 2)