# Time Functions

In [2]:
import datetime
from datetime import time



# Function to get current %timeit
def currTimeShort():
    now = datetime.datetime.now()
    current_time = now.strftime("%H:%M:%S") # formating time to hours minutes and secs
    return current_time

#Function to return current date and timeabs
def currTimeLong():
    today = datetime.datetime.now()
    return today

#function to recieve user input timeabs
def userTimeSpec():
    reqTime = input('provide required date in the format; YYYY, MM,DD, HH, mm')
    trimTime = ''.join(reqTime.split()) # removing any white spaces in user input. First split string by white spaces
    timeParts = trimTime.split(',')# spliting user time input by commas
    # extracting time parts and converting to integers since user input is always a string
    yyyy = int(timeParts[0])
    mm = int(timeParts[1])
    dd = int(timeParts[2])
    hh = int(timeParts[3])
    m = int(timeParts[4])
    dt2 = datetime.datetime(yyyy,mm,dd,hh,m) # converting to a datetime format
    return dt2



# function to return time difference in days hours and minutesabs

def timediff(currTime, futureTime):
    time_diff = futureTime - currTime
    tdays = time_diff.days # get time difference in days
    tsecs = time_diff.total_seconds() # get time difference in seconds
    thrs = tsecs/(60*60) # get time difference in hours
    
    return time_diff, tdays, tsecs,thrs # this is returned as a list. Choose what you want to return



# function to return time difference in hours and minutes

In [39]:
# Get current time in hours minutes and secs
cTime = currTimeShort()
print(cTime)

06:15:26

In [40]:
# Get current time in year, month, day hours minutes and secs

longCTime = currTimeLong()
print(longCTime)

2022-07-02 06:16:22.911581

In [41]:
# Recieve user specification of time required in the format year, month, day hours minutes
userTime = userTimeSpec()
print(userTime)

provide required date in the format; YYYY, MM,DD, HH, mm2022,6,30,14,28
2022-06-30 14:28:00
2022-06-30 14:28:00

In [9]:
ttt = timediff(currTimeLong(), userTimeSpec())

provide required date in the format; YYYY, MM,DD, HH, mm2022,07,06, 14,42

In [10]:
ttt

(datetime.timedelta(seconds=12, microseconds=218760),
 0,
 12.21876,
 0.0033940999999999997)

In [11]:
print(ttt[0])

0:00:12.218760

In [16]:
def currTimeShort():
    now = datetime.datetime.now()
    current_time = now.strftime("%H:%M:%S") # formating time to hours minutes and secs
    return current_time
print(currTimeShort())
print(currTimeLong())

15:00:12
2022-07-03 15:00:12.484005

In [21]:
print(userTimeSpec())
print(datetime.datetime.now())

provide required date in the format; YYYY, MM,DD, HH, mm2020, 01, 21, 01, 22
2020-01-21 01:22:00
2022-07-03 15:09:40.069949

In [53]:
import pandas as pd
df = pd.read_csv('c:/datasets/timeZone_Assignment/timezones_Detailed_588_Countries.csv')
print(df)

               timezone  offset  offset_dst(Day light Savings)
0        Africa/Abidjan       0                              0
1          Africa/Accra       0                              0
2    Africa/Addis_Ababa   10800                          10800
3        Africa/Algiers    3600                           3600
4         Africa/Asmara   10800                          10800
..                  ...     ...                            ...
583                 UTC       0                              0
584           Universal       0                              0
585                W-SU   10800                          10800
586                 WET       0                           3600
587                Zulu       0                              0

[588 rows x 3 columns]

In [2]:
from datetime import datetime
import pytz
x = pytz.utc
d = datetime.now(x)
print(d.strftime('%Y: %m: %D %H:%M: %S %Z %z'))

for tZone in pytz.all_timezones:
    if 'Indian/' in tZone:
        d = datetime.now(pytz.timezone(tZone))
        print('timezone', ":", d.strftime('%Y: %m: %D %H: %M: %S %Z %z'))

2022: 07: 07/15/22 17:37: 35 UTC +0000
timezone : 2022: 07: 07/15/22 20: 37: 35 EAT +0300
timezone : 2022: 07: 07/15/22 23: 37: 35 +06 +0600
timezone : 2022: 07: 07/16/22 00: 37: 35 +07 +0700
timezone : 2022: 07: 07/16/22 00: 07: 35 +0630 +0630
timezone : 2022: 07: 07/15/22 20: 37: 35 EAT +0300
timezone : 2022: 07: 07/15/22 22: 37: 35 +05 +0500
timezone : 2022: 07: 07/15/22 21: 37: 35 +04 +0400
timezone : 2022: 07: 07/15/22 22: 37: 35 +05 +0500
timezone : 2022: 07: 07/15/22 21: 37: 35 +04 +0400
timezone : 2022: 07: 07/15/22 20: 37: 35 EAT +0300
timezone : 2022: 07: 07/15/22 21: 37: 35 +04 +0400

In [70]:
for tz in df['timezone']:
    if '/Lagos' in tz:
        print (tz)

Africa/Lagos